---
import ContactForm from "../components/ContactForm.jsx";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<section
		class="relative w-full h-[70vh] bg-bgprimary bg-cover bg-center bg-no-repeat flex items-center"
		style="background-image: url('/HeroDark2.jpg')"
	>
		<div class="absolute inset-0 bg-black/40"></div>

		<div class="relative hero-container">
			<h1
				class="text-secondary text-[24px] xs:text-[26px] sm:text-[28px] md:text-[32px] lg:text-[36px]"
			>
				Contact me
			</h1>
			<h2
				class="text-secondary text-[18px] xs:text-[19px] sm:text-[20px] md:text-[21px] lg:text-[22px]"
			>
				Let’s explore what you need and how I can help
			</h2>
		</div>
	</section>

	<ContactForm client:load />
	<section class="bg-bgsecondary py-20 ">
		<div class="content-container ">
			<div class="grid md:grid-cols-3 gap-12 text-center">
				<div class="space-y-3">
					<a
						href="tel:+33 6 12 34 56 78"
						class="text-2xl text-secondary hover:text-[#D7B7C4]"
					>
						+33 6 76 33 59 85
					</a>
				</div>

				<div class="space-y-3">
					<a
						href="mailto:eva@eira.digital"
						class="text-2xl text-secondary hover:text-[#D7B7C4]"
					>
						eva&#64;eira&#46;digital
					</a>
				</div>

				<div class="space-y-3">
					<a
						href="tel:+44 7918 653566"
						class="text-2xl text-secondary hover:text-[#D7B7C4]"
					>
						+44 7918 653566
					</a>
				</div>
			</div>
		</div>
		
	</section>
</Layout>
